{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'core/libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/libs/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'core/fonts/inter/inter.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
</head>

<body>
    <div class="header-container">
        <header class="site-header">
            <div class="header-top d-flex align-items-center justify-content-between">

                <div class="user-actions d-flex align-items-center">

                    <a href="" class="user-icon" title="Home">
                        <i class="bi bi-house-door-fill"></i>
                    </a>
                    <a href="" class="user-icon position-relative" title="Profile">
                        <i class="bi bi-person-circle"></i>
                    </a>
                </div>

                <div class="site-logo d-flex align-items-center">
                    <h1 class="h5 mb-0 d-none d-sm-block">Arabian United</h1>
                    <img src="{% static 'core/images/logo.webp' %}" alt="Logo" class="logo-img ms-2">
                </div>
            </div>
        </header>
    </div>
    <main class="main-content">
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-12 col-md-4">
                    <a href="" class="text-decoration-none text-dark">
                        <div class="menu-card">
                            <i class="bi bi-car-front menu-icon text-primary"></i>
                            <h5>Cars</h5>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <a href="" class="text-decoration-none text-dark">
                        <div class="menu-card">
                            <i class="bi bi-cash-coin menu-icon text-success"></i>
                            <h5>Accounting</h5>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <a href="" class="text-decoration-none text-dark">
                        <div class="menu-card">
                            <i class="bi bi-bar-chart-line menu-icon text-warning"></i>
                            <h5>Reports</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>

    <div class="footer-container">
        <footer class="site-footer">
            <div class="container text-white">
                <div class="row py-3">
                    <div class="col-lg-5 col-md-12 mb-3 mb-lg-0">
                        <div class="d-flex align-items-center mb-2">
                            <img src="{% static 'core/images/logo.jpg' %}" alt="Logo" class="logo-img me-2">
                            <h5 class="mb-0 fw-bold">Arabian United</h5>
                        </div>
                        <p class="footer-about-text">
                            Number One in Persian Gulf </p>
                    </div>
                </div>
                <div class="row align-items-center pt-1">
                    <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
                        <small>&copy; {% now "Y" %} Arabian United.</small>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <a href="#" class="social-icon mx-2"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="social-icon mx-2"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>

</html>