{% extends 'core/base.html' %}
{% load static %}


{% block title %}
Home
{% endblock title %}

{% block content %}
<main class="main-content">
    <div class="container">
        <div class="row text-center g-4">

            <div class="col-12 col-md-3">
                <a href="{% url 'core:car_list' %}" class="text-decoration-none text-dark">
                    <div class="menu-card h-100">
                        <i class="bi bi-car-front menu-icon text-primary"></i>
                        <h5 class="mt-3">Cars</h5>
                    </div>
                </a>
            </div>

            <div class="col-12 col-md-3">
                <a href="{% url 'accounting:dashboard' %}" class="text-decoration-none text-dark">
                    <div class="menu-card h-100">
                        <i class="bi bi-cash-coin menu-icon text-success"></i>
                        <h5 class="mt-3">Accounting</h5>
                    </div>
                </a>
            </div>

            <div class="col-12 col-md-3">
                <a href="{% url 'reports:financial_report' %}" class="text-decoration-none text-dark">
                    <div class="menu-card h-100">
                        <i class="bi bi-bar-chart-line menu-icon text-warning"></i>
                        <h5 class="mt-3">Reports</h5>
                    </div>
                </a>
            </div>

            <div class="col-12 col-md-3">
                <a href="{% url 'reports:payroll_dashboard' %}" class="text-decoration-none text-dark">
                    <div class="menu-card h-100">
                        <i class="bi bi-people menu-icon text-info"></i>
                        <h5 class="mt-3">Payroll</h5>
                    </div>
                </a>
            </div>

        </div>
</main>
{% endblock content %}
{% block scripts %}

{% endblock scripts %}